.purple {
  background-color: rebeccapurple;
}

.make-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: rebeccapurple !important;
  font-size: 150%;
  font-family: 'Pacifico', cursive;
}